body {
    background-color: black;
}

#tu-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: mediumspringgreen;
    width: 100%;
    border-style: dotted;
    color: rebeccapurple;
    height: 400px;
    position: relative;
}

.imagen-centrada {
    height: 250px;
    width: auto;
}
.imagenDos-centrada {
    height: 350px;
}
.imagenTres-centrada {
    height: 350px;
    position: relative;
    left: 40px;
}

.contenedorDos {
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: blue;
    height: 400px;
    width: 100%;
    color: azure;
}

#contrasena-usuario, #verificar-contrasena {
    z-index: 1;
    background-color:springgreen;
}

#contenedor-input-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

