body {
    background-color: black;
}

#tu-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: mediumspringgreen;
    width: 100%;
    border-style: dotted;
    color: rebeccapurple;
    height: 400px;
    position: relative;
    margin-top: 20px;
}

.imagen-centrada {
    height: 250px;
    width: auto;
}
.imagenDos-centrada {
    height: 350px;
}
.imagenTres-centrada {
    height: 350px;
    position: relative;
    left: 40px;
}

.contenedorDos {
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: blue;
    height: 400px;
    width: 100%;
    color: azure;
}

#contrasena-usuario, #verificar-contrasena {
    z-index: 1;
}

#contenedor-input-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

h1 {
    color:deepskyblue;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    left: 20px;
}

/* Estilos para la lista de películas */
#tu-contenedor ul {
    list-style: none; 
    padding: 0; 
    margin: 20px 0; 
    color: deepskyblue;
}
#tu-contenedor ul li {
    margin-bottom: 10px; 
    font-size: 16px; 
    line-height: 1.5; 
}

input[type="text"] {
    width: 250px; 
    height: 19px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #292828;
    background-color:#292828;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

input[type="text"]:focus {
    outline: none;
    border-color: #999;
    background-color: #e0e0e0;
}

button {
    background-color:orange;
    color: white;
    padding: 12px 20px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:darkgray!important; 
}



